/.editorconfig export-ignore
/.gitattributes export-ignore
/.gitignore export-ignore
/.github/ export-ignore
/.php_cs export-ignore
/Build/ export-ignore
/Documentation/ export-ignore
/README.md export-ignore
