# coding: utf-8

[general]
project = Form Country Select
release = 1.3.0
copyright = 2019-2020 by Chris Müller

[html_theme_options]
github_branch = master
github_repository = brotkrueml/form-country-select
project_contact = typo3 (at) krue (dot) ml
project_discussions =
project_home =
project_issues = https://github.com/brotkrueml/form-country-select/issues
project_repository = https://github.com/brotkrueml/form-country-select

[intersphinx_mapping]
t3form = https://docs.typo3.org/c/typo3/cms-form/master/en-us/
